body {
    color: 
    background: 
    margin: 
}

header {
    border-bottom: 
    padding: 
    font-size: 
    color: 
}

section {
    background: rgb
    padding-bottom: 
    padding-top: 
    display: 
    justify-content: 
}

.chamada-texto {
    
}

body {
    color: rgb(0, 0, 0);
    background: rgb(211, 13, 13); } (corpo { cor: rgb(0, 0, 0); fundo: rgb(211, 13, 13); })